*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, sans-serif;
    transition:  ease-in-out 1s;
}
button{
    background-color: #1058C3;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.navbar>ul>li,.social-media>ul>li,.right_contact_title>ul>li{
    margin-right: 30px;
}
.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content:center;
}
.flex-center-items{
    display: flex;
    align-items: center;
}



.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.flex-column{
    flex-direction: column;
}


body{
    width: 100%;
    min-height: 100px;
}

/* ==================================================
                      HEADER CSS
=====================================================*/
header{
   position: relative;
   top: 0;
   left: 0;
   height: 600px;
   overflow-x: hidden;
}
.round-bg{
    background-color: #1058c337;
    width: 700px;
    height: 700px;
    position: absolute;
    right: -90px;
    top: -250px;
    border-radius: 50%;
    z-index: -1;
}
.logo>a{
    color: #1058C3;
    font-weight: bold;
    font-size: 20px;
}
.navbar{
    padding:0px 25px;
    margin-top: 25px;
}
.navbar>ul>li>a{
 color: black;
 font-weight: bold;
 font-size: 20px;
 transform: ease 1s;
}
.navbar>ul>li>a:hover{
    color: rgb(86, 86, 86);
}
.menu{
    display: none;
}
.profile-pic,.portfolio-pic,.about-pic,.contact-pic,.login-pic,.blog-pic,.signup-pic{
    width: 350px;
    height: 350px;
    position: absolute;
    right: 90px;
    top:145px;
    border: 2px solid #1058C3;
    border-radius: 50%;
    
}
.profile-pic{
    background: url("https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZSUyMGF2YXRhciUyMGJsYWNrJTIwbWFufGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
   
}
.portfolio-pic{
    background: url("https://images.unsplash.com/photo-1545665277-5937489579f2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.about-pic{
    background: url("https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YWJvdXQlMjBwb3J0Zm9saW98ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.contact-pic{
    background: url("https://images.unsplash.com/photo-1587560699334-bea93391dcef?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbnRhY3R8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.login-pic{
    background: url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%; 
}
.blog-pic{
    background: url("https://images.unsplash.com/photo-1545239351-ef35f43d514b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJsb2dzfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%; 
}
.signup-pic{
    background: url("https://images.unsplash.com/photo-1559526324-4b87b5e36e44?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2lnbnVwfGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%; 
}
.profile-description{
    position:absolute;
    top:100px;
    left:50px;
    line-height: 90px;
    width: 600px;
    height: 270px;
}

.profile-description>h4,.profile-description>h1{
    color: #1058C3;
} 
.profile-description>hr{
    border: #1058C3 solid 1px;
}
.profile-description>h4{
    font-size: 30px;
}
.profile-description>h4>span{
    text-decoration: underline;
}
.profile-description>h1{
    font-size: 70px;
}
.profile-description>h3{
    font-size: 50px;
    color: #1058c37f;
}
.header-contact{
    position: absolute;
    top: 400px;
    left: 50px;
    width: 210px;

}
.header-contact>ul>li>img{
    width: 20px;
}
.header-contact>ul>li>{
    width: 100%;
}
.header-contact>ul>li>a{
    margin-left: 2px;
    color: #1058C3;
    font-weight: bold;
}
.hire_btn{
    position: absolute;
    top: 400px;
    left:50%;
    border:none;
    outline: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
}
/* =================================================
                     MENU MODAL               
====================================================*/
.modal_menu{
    width: 50%;
    /* background-color:#ffffffc4; */
    flex-direction: column;
    /* padding: 15px; */
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 5;
    
    
}
.modal_menu>ul{
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.modal_menu>ul>li{
    width: 100%;
    background-color: #1058C3;
    margin-bottom: 2px;

}
.modal_menu>ul>li>a{
    display: block;
    color:#ffffff;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.close_modal{
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.close_modal>img{
    width: 30px;
}
.btn_logout{
    padding: 5px;
    background: #dc3545;
    font-weight: bold;
    border-radius: 2px;
    width: 100%;
}
/* ==================================================
                      MAIN CSS
=====================================================*/

main{
    width: 100%;
    min-height: 100px;
    padding: 15px 25px;
}
main>h4,main>h2{
    font-weight: bold;
    font-size: 25px;
    color: #1058C3;
}
main>h2{
    font-weight: bold;
    font-size: 25px;
    color: #1058C3;
}
main>p{
    font-weight: bold;
    font-size: 25px;
}
.design_prof{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.design_title{
    width: 20%;
}
.design_title>h3{
    color: #1058C3;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.design_text{
    width: 80%;
    display: flex;
    flex-direction:column;
}
.design_text>p{
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}
.paragraph2{
    margin: 10px;
}
.paragraph2>p{
    color: #6d6d6d93;
    margin-bottom: 10px;
    font-size: 15px;
}
.paragraph2>button{
    background-color: transparent;
    color: #1058c3ab;
    font-weight: 700;
}
.what_ido{
    width: 100%;
}
.what_ido>p{
    font-size: 15px;
    color: #3f3f3f93;
    width: 50%;
    font-weight: 800;
}
.what_ido_card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0px;
}
.card{
    width: 30%;
    background-color:#FAFAFA;
    line-height: 25px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 2px #6c6c6c;
}
.card_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_title>img{
    width: 30px;
    margin-right: 10px;
}
.card_title>span{
    font-weight: bold;
    font-size: 12px;
}
.card_body{
    padding: 20px;
}
.card_body>p{
    color: #3f3f3fd8;
    font-weight: bold;

}

/* ABOUT */
.about_detail{
    margin: 20px 0px;
    color: #6d6d6d93;
}
.about_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin: 20px 0px;
}
.about_card>.card>.card_title{
    width: 100%;
    height: 50px;
    position: relative;
}
.about_card>.card{
    margin-bottom: 10px;
    border: 1px solid #1058C3;
    background:white;
}
.card_circle{
    width: 40px;
    height: 40px;
    background-color: #1058c36c;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 10px;
}
.about_card>.card>.card_title>img{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 40px;
}
.card_body>span{
    font-weight: 800;
}

/* BLOG */
.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.preloader>img{
    max-width: 100%;
    max-height: 100%;
}

.preloader.show{
    display: flex;
}

.blog_title,.blog_items{
    width: 100%;
    height: 300px;
    display:flex ;
    flex-wrap: wrap;
    margin-top: 20px;
}
.left_blogTitle{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>h2{
    color: #1058C3;
}
.right_blogTitle{
    width: 75%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
     border: 1px solid black;
    border-radius: 10px;
   
}
.left_blogTitle>h2{
    font-weight:900;
}
.blog_items{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.blog1_items_img,.blog2_items_img{
    background: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.blog2_items_img{
    background: url("https://plus.unsplash.com/premium_photo-1678567671234-388cf4fa0224?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.blog3_items_img{
    background: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
#blog_picture>img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blog1_items_img,.blog2_items_img,.blog3_items_img{
    width: 40%;
    height: 80%;
    border-radius: 10px;
}
.blog1_item_details{
    width: 50%;
    margin-left: 25px;

}
.item_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
.left_item_title,.right_item_title{
    display: flex;
    align-items: center;
    width: 50%;
}
#user_pic{
    border-radius: 50%;
}
.left_item_title>img,.right_item_title>img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.left_item_title>span,.right_item_title>span{
    font-weight: 900;
    color:#525456;
}
.blog_btn{
    color: white;
    width: 100px;
    height: 35px;
    font-weight: 400;
    border-radius: 5px;
    margin-top: 20px;
}
.blog1_item_details>p,.blog2_item_details>p,.blog3_item_details>p{
    color:#525456;
    margin-top: 5px;
    font-size: 18px;

}
.view_more_btn{
    height: 50px;
}
.view_more_btn>button{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
}
/* BLOG DETAILS*/
.inner_main{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.left_inner_main{
    width: 30%;
    min-height: 100vh;
    padding: 5px;
    /* border: 1px solid red; */

}
.right_inner_main{
    width: 65%;
    min-height: 100vh;
    padding: 5px;
    margin-left: 50px;
    /* border: 1px solid red; */

}
.search_here,.blogD_category,.search_bloggers{
    width: calc(100% - 5px);
    border: #1058C3 1px solid; 
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
.search_here>h3,.blogD_category>h3,.search_bloggers>h3{
    color: #1058C3;
}
.search_input_blogD{
    width: calc(100% - 5px);
    border: #1058C3 solid 1px;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.search_input_blogD>input{
    border: none;
    outline: none;
    width: calc(100% - 30px);
    text-align: center;
}
.search_input_blogD>button{
    background: transparent;
}
.search_input_blogD>button>img{
    width: 27px;
}
.category_blog,.individual_bloggers{
    width: calc(100% - 7px);
    display: flex;
    flex-wrap: wrap;
}
.category{
    width: 90%;
    margin: 5px;
    padding: 5px;
    border: #1058C3 1px solid;
    border-radius: 5px;
    background-color: #1058c32b;
}
.category>span{
    color: rgb(100, 100, 100);
    font-weight: 900;
    font-size: 15px;
}
#num{
    color: #1058C3;
}
.blogger{
    width: 95%;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid #1058C3;
    border-radius: 10px; 
}
.blogger>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}
.blogger_details{
    width: 60%;
}
.blogger_details>p{
    font-weight: 100;
    font-size: 12px;
    color: rgb(100, 100, 100);
}
.blogger_details>a{
    color: #1058C3;
    font-weight: 200;
    font-size: 12px;
}
.individual_blog_category{
    width: 100%;
    margin-bottom: 10px;
}
.individual_blog_category>h2{
    color:#1058C3;
}
.individual_blog_title>h4{
    font-weight: 900;
}
.proper_blog_image{
    width: 100%;
    height: 350px;
    /* background: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsb2d8ZW58MHx8MHx8fDA%3D"); */
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
    border-radius: 10px;
    margin:10px 0px;
}
.proper_blog_image>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.blog_description{
    width: 100%;
    margin: 30px 0px;
}
.blog_description>p{
    font-weight: bold;
    color:#666666d4;
}
.reply_to_comment{
    width: 100%;
}
.comment_section{
    width: 100%;
    margin: 20px 0px;
}
.main_comment{
    width: 100%;
}
.right_main_comment{
    width: 20%;
    padding: 5px;
}
.right_main_comment>img,.left_reply>img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.left_main_comment{
    width:80%;

}
.main_comment_content{
    width: 100%;
}
.comment_title{
    display: flex;
    align-items: center;
}
.bloger_name{
    font-weight: bold;
    font-size: 12px;
}
.comment_like{
    width: 60%;
}
.comment_like>img{
    width: 30px;
    margin:0px 15px;
    cursor: pointer;
}
.like_comm{
    width: 20px;
    height: 20px;
    border: 2px solid #1058C3;
    border-radius: 50%;
    color: #1058C3;
}
.reply_btn{
    width: 90px;
    border-radius: 5px;
}
.reply_btn>img{
    width: 20px;
}
.comment_date{
    width: 100%;
}
.comment_date>img{
    width: 25px;
}
.comment_date>span{
    font-weight: bold;
    font-size: 12px;
    color: #535353;
}
.comment_text{
    width: 100%;
    margin: 5px 0px;
    font-weight: 700;
    color: #535353;
}
.reply_section{
    width: 100%;

}
.left_reply_empty{
    width: 20%;
}
.reply_comment_section{
    width: 80%;
}
.left_reply{
    width: 15%;
}
.right_reply{
    width: 85%;
}
.write_comment{
    width: 100%;
    margin: 10px 0px;
}
.write_comment>h4{
    color: #1058C3;
    margin: 10px 0px;
}
.write_comment>form{
    display: flex;
    flex-direction: column;
}
.write_comment>form>textarea{
    border: 1px solid #1058C3;
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: #1058C3;
}
.write_comment>form>button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
/* CONTACT */
.contact_details{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border:1px solid green; */
}
.contact_item{
    border:1px solid #1058C3;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #1058C3;
    position: relative;
    width: 250px;
    flex-direction: column;
    padding: 10px 0px;
    margin: 20px;
}

.dashboardBtn{
    border:1px solid #1058C3;
    border-radius: 5px;
    box-shadow: 4px 4px 6px #1058C3;
    position: relative;
    width: 180px;
    flex-direction: column;
    padding: 10px 0px;
    margin: 10px;
}
.contact_item>p{
    color: #1058C3;
}
.item_image{
    background: #1058C3;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 50px;
}
.itemDash_img{
    background: #1058C3;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.itemDash_img>img{
    width: 20px;
}
.dashboardBtn>p{
    font-weight: bold;
    font-size: 12px;
    color: #1058C3;
}
.logout_btn>img{
    width: 15px;
    margin-right: 5px;
}
.graph_msg{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin-top: 20px;

}
.dash_graph{
    width: 50%;
    display: block;
    overflow: hidden;
    pointer-events: none;
}
.dash_graph>h4,.dash_contact_msg>h4{
    width: 100%;
    padding: 2px;
    color: white;
    background-color: #1058C3;

}
.dash_contact_msg{
    width: 50%;
}
.contact_title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.left_contact_title{
    width: 50%;
}
.right_contact_title{
    width: 50%;
}
.right_contact_title>ul>li>a>img{
    width: 35px;
}
.location_map{
    width: 100%;
    height: 300px;
    background: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.right_inner_main>h4{
    color: #1058C3;
    font-weight: 800;
    font-size: large;
}
.message_input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.message_input>.name_text{
    width: 45%;
}
.message_input>.name_text>label{
    color:#1058C3;
    font-weight: bold;
}
.message_input>.name_text>input{
    width: 100%;
    border:1px solid #1058C3;
    text-align: center;
    color:#1058C3;
    padding: 10px;
    border-radius: 5px;

}
.mySkills{
    width: 100%;
    margin-top: 20px;
}
.mySkills>p{
    width: 50%;
}
.mySkills_display{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 450px;
    background: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
    margin: 30px 0px;
    position: relative;
}
.proper_skills{
   background-color: #3c84f0;
   width: 40%;
   height: 380px;
   border-radius: 5px;
   flex-direction: column;
   position: absolute;
   top: 110px;
   left: 610px;
}
.proper_skills>h5{
    color: white;
    margin-left:-230px;
}
.skils_container{
    background-color: #63a2ff;
    width: 80%;
    height: 20px;
    border-radius: 10px;
}
.self_skills1,.self_skills2,.self_skills3,.self_skills4,.self_skills5{
    background-color: #1058C3;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.self_skills1{
    width: 95%;
}
.self_skills2{
    width: 85%;
}
.self_skills3{
    width: 90%;
}
.self_skills4{
    width: 75%;
}
.self_skills5{
    width: 88%;
}
.self_skills1,.self_skills2,.self_skills3,.self_skills4,.self_skills5>span{
    color: white;
    font-weight: bold;
}
.my_work{
    width: 100%;
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
}
.work1{
    background: url("../IMAGES/App-Landing-Page-Template-3.png");

}
.work2{
    background: url("../IMAGES/App-Landing-Page-Template-3.png");

}
.work3{
    background: url("../IMAGES/223c7a6929c1cd00e7a1e54b5f8c0235.jpg");

}
.work4{
    background: url("../IMAGES/website-template-preview-14090.jpg");

}
.work5{
    background: url("../IMAGES/images\ \(1\).jpg");

}
.work6{
    background: url("../IMAGES/images.jpg");

}
.work7{
    background: url("../IMAGES/images.jpg");

}
.work8{
    background: url("../IMAGES/App-Landing-Page-Template-3.png");

}
.work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
    width: 20%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 22px;
}
/* LOGIN */
#inner_main_login{
    border: 1px solid #1058C3;
    padding: 20px;
    border-radius: 5px;
}
.left_login,.right_login{
    width: 50%;
}
.login_brand{
    width: 50%;
    height: 200px;
    background-color: #4b8def59;
    border-radius: 5px;
}
.login_brand>p{
    color:#1058C3;
    font-weight: bold;
    font-size: 50px;
}
.right_login{
    border: #1058C3 1px solid;
    border-radius: 5px;
    padding: 30px;
}
.right_login>h3{
    color: #1058C3;
    font-weight: 900;
    font-size: 35px;
}
.right_login>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
.right_login>form>label{
    color: #1058C3;
    font-weight: 900;
    font-size: 25px;
}
.right_login>form>.name_text{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    border: #1058C3 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.right_login>form>.name_text>input{
    width: 90%;
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
}
.right_login>form>.name_text>img{
    width: 15px;
}
.right_login>form>button{
    height: 35px;
    border-radius: 10px;
    margin: 40px;
    font-weight: bold;
    font-size: 20px;
}
.keepS{
    color: #1058C3;
    font-size: 12px;
}
.keepS>a{
    color: #1058C3;
    font-weight: bold;
}
.square{
    width: 10px;
    height: 10px;
    border: #1058C3 2px solid;
    margin-right: 5px;
}
.forgotP>a{
    font-size: 12px;
    text-decoration: underline;
    color: #1058C3;
    font-weight: bold;
}
.singup_link{
    margin-bottom: 10px;
}

.singup_link>span{
    color: gray;
    font-weight: bold;
}
.singup_link>a{
    color: #1058C3;
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
}
.singup_social_media{
    width: 100%;
    border: 1px solid #1058C3;
    padding: 5px;
    border-radius: 5px;
}
.singup_social_media>button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: gray;
    font-weight: bold;
}
.singup_social_media>button>img{
    width: 20px;
    margin-right: 5px;
}
.msgSignup,.msgLogin,.msgEditProfile,.msgInsertBlog,.msgBlog,.msgContact,.msgComment{
    width: 100%;
    padding: 5px;
    margin-bottom: 2PX;

}
.msgSignup>h6,.msgLogin>h6,.msgEditProfile>h6,.msgInsertBlog>h6,.msgBlog>h6,.msgContact>h6,.msgComment>h6{
    color:white;
    font-weight: bold;
    text-align: center;
}
.error{
    font-weight: bold;
    font-size: 12px;
    color: red;
}






















/* DASHBOARD */
.inner_maind{
    width: 100%;
    min-height: 150px;
    padding: 0;
    margin: 0;
    display: flex;
}
.left_inner_main_d{
    width: 20%;
    min-height: 150px;
    border-right: 2px solid #1058C3;
}
.left_inner_main_d>.logo{
padding: 20px;
}
.right_inner_main_d{
    width: 80%;
    position: relative;
}
.dash_title {
    border-bottom: #1058C3 2px solid;
    padding: 0px 5px;
}
.leftDash{
    width: 50%;
    padding: 10px;
}
.rightDash{
    width: 50%;
    padding: 10px;
}
.side_nav_btn{
    width: 100%;
    min-height: 90vh;
}
.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}

/* .canvas_graph{
    display: block;
   
} */
.dash_contact_msg{
    width: 50%;
}
.side_nav_btn>ul{
    width: 100%;
    padding: 5px;
}
.side_nav_btn>ul>li{
    width: calc(100% - 5px);
    margin: 5px 0px;
}
.side_nav_btn>ul>li>button{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.side_nav_btn>ul>li>button:hover{
    background-color: #1058c3cb;
    color: #c1c1c192;
}
.user_logo>img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}
.user_logo{
    color: #1058C3;
    font-weight: bold;
}
.rightDash>button{
    width: 70px;
    padding: 5px;
    border-radius: 5px;

}
.leftDash>span{
    color: #1058C3;
    font-weight: bold;
}
.filter{
    margin: 30px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filter>form>label{
    color: #1058C3;
    font-weight: bold;
}
.filter>button{
    padding: 5px;
    border-radius: 2px;
}
.table_dash{
    width: 100%;
}
.table_dash>h6{
    color: #1058C3;
    font-weight: bold; 
}
.table_dash>table{
    width: 100%;
}
.table_dash>table>thead{
background-color: #1058C3;
}
.table_dash>table>thead>tr>th{
    color: white;
    padding: 10px;
}
.table_dash>table>tbody>tr>td{
    text-align: center;
    background: white;
    color: black ;
    font-weight: bold;           
}
.table_dash>table>tbody>tr>td>button{
    background:transparent;
}
.table_dash>table>tbody>tr>td>button>img{
    width: 30px;
}
.profile_image{
    width: 50px;
    height: 50px;
}
.profile_image>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.table_dashboard{
    width: 50%;
}
.table_dashboard>h6{
    color: #1058C3;
    font-weight: bold; 
}
.table_dashboard>table{
    width: 100%;
}
.table_dashboard>table>thead{
background-color: #1058C3;
}
.table_dashboard>table>thead>tr>th{
    color: white;
    padding: 2px;
    font-size: smaller;
}
.table_dashboard>table>tbody>tr>td{
    text-align: center;
    background: white;
    color: black ;
    font-size: 12px;           
}
.table_dashboard>table>tbody>tr>td>button{
    background: transparent;
}
.table_dashboard>table>tbody>tr>td>button>img{
    width: 15px;
}
.contactTableBody>td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
#noMsg{
    color:red;
    font-weight: bold;
}
.blog_creation{
    width: 100%;
    min-height: 150px;
    padding: 10px 20px;
}
.innerBlogSelf{
    width: 100%;
    min-height: 100px;
    background: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 1px 2px  3px #1058C3;
}
.left_selfBlog{
    width:80%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #1058C3;


}
.blog_img{
    width: 20%;
    height: 100%;

}
.blog_desciption{
    width: 80%;
    padding: 10px;


}
.blog_img>img{
    /* background: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJsb2d8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%; */
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.blog_desciption>p{
    margin-bottom: 5px;
    color: grey;
}
.blog_desciption>h5{
    margin-bottom: 2px;
}
.right_selfBlog{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;

}
.right_selfBlog>button{
    width: 70px;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0px;
}
.right_selfBlog>span{
    font-weight: bold;
    font-size: 12px;
}
.right_selfBlog>span>img{
    width: 20px;
}
.blogSelf{
    width:100%;
    min-height: 150px;
    margin-bottom: 20px;
}
.profile_section{
    width: 100%;
    min-height: 85vh;
    /* background: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZ3xlbnwwfHwwfHx8MA%3D%3D"); */
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.inner_profile_section{
    width: 100%;
    min-height: 88vh;
    background-color: #1058c391;
}       
.real_profile{
    width: 80%;
    min-height: 70vh;
    background-color: rgba(255, 255, 255, 0.662);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.left_real_profile{
    width: 20%;
    min-width: 150px;
    padding: 10px;
    flex-direction: column;
}
.left_real_profile>h5{
    color:#1058C3;
    margin-bottom: 20px;
}
.right_real_profile{
    width: 80%;
}
.profile_pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D"); */
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: 100% 100%;
}
.profile_pic>image{
    width: 100%;
    height: 100%;
}
.edit_notification{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.edit_notification>button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
}
.edit_notification>button>img{
    width: 15px;
    margin-right: 5px;
}
.notifocation{
    width: 30%;
    padding: 10px;
    position: relative;
}
.notifocation>img{
    width: 30px;
}
.notifocation>span{
    position: absolute;
    top:25px;
    left: 30px;
    background: white;
    width: 25px;
    height: 25px;
    color: #1058C3;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid #1058C3;
}
.notifocation>h6{
    color: #1058C3;
    font-weight: bold;
    margin-left: 20px;
}
.profile_details{
    width: 100%;
    padding: 10px;
}
.inner_profile_details{
    width: 80%;
    padding: 10px;
}
.inner_profile_details>span{
    color: #1058C3;
    font-weight: bold;
    font-size: 20px;
}


/* ============================================
                dashboard menu
==============================================*/

.dashboard_modal{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    background:#1058c327;
    border-radius: 10px;
   
}
/* ==========================================
                    MODAL DASHBOARD
============================================*/

.modal_disp,.modal_editBlog{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 110vh;
    background:#1058c380;
    display: flex;
    flex-direction: column;
}
.cardProfile{
    width: 100%;
    height: 90vh;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.cardProfile>h4{
    color:white;
    font-weight: bold;
    font-size: 15px;

}
.card_bodyProfile{
    width: 40%;
    background: rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_bodyProfile>form{
    width: 100%;
}
.card_bodyProfile>form>label{
    color: #1058C3;
    font-weight: bold;
}
.editBlogSection{
    background: #1058C3;
    height: 100%;
    padding: 20px;
}
.input_textProfile{
    width: 95%;
    margin-bottom: 5px;

}
.input_textProfile>input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: #1058C3 solid 2px;
}
.input_textProfile>button{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 2px;
}
.close_button>button{
    background-color: transparent;
}






















































.dashMenu_Close{
    background-color: rgba(255, 255, 255, 0.907);
    width: 100%;
    height: 60px;
}
.dashMenu_Close>button{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}











#logd{
    display: none;
}
#menud{
    display: none;
}
.innerDashboard_title{
    width: calc(100% - 20px);
    background: #1058C3;
    margin: 5px 10px;
    padding: 5px;
}
.innerDashboard_title>h3,.innerDashboard_footer>h3{
    color:white;
}
.innerDashboard_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    background: #1058C3;
    padding: 5px;
}

/* ==================================================
                      FOOTER CSS
=====================================================*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
}
.top-footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #1058C3;
}
.inner-footer{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}
.footer-card{
    width: 24%;
    line-height: 30px;
    flex-direction: column;
}
.footer-card>h3{
    color: #1058C3;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
}                   
.footer-card>ul{
    flex-direction: column;
}
.footer-card>ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
}
.footer-card>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
}
.footer-card>h5,.footer-card>h6{
    color: #1058C3;
    font-weight: bold;
}
.footer-card>p{
    font-size: 12px;
}
.footer-card>hr{
    background:#1058C3;
    height: 5px;
    margin-bottom: 2px;
}
.footer-card>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;

}
.footer-card>form>input{
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
    border: 2px solid #1058C3;
    border-radius: 5px;
}
.footer-card>form>button{
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
.social-media{
    width: 100%;
    margin-top: 40px;
}
.social-media>ul>li>a>img{
    width: 25px;
}
.copyright{
    width: calc(100%);
    margin-bottom: 2px;
    height:20px;
    padding: 15px;
    border-top: 2px solid #1058C3;
}
.copyright>p{
    color: #1058C3;
    font-weight: bold;
}
.copyright>button{
    background: transparent;
}
.copyright>button>img{
    width: 25px;
}
.bottom-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #1058C3;
}
.footer-card>button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}



/*==============================
		RESPONSIVE
================================*/
/* Desktop styles */
@media screen and (min-width: 1024px) and (max-width: 1150px){
    /* header */

    header{
        position: relative;
        top: 0;
        left: 0;
        height: 600px;
        /* overflow-x: hidden; */
         transition: all 1s;
     }
     .round-bg{
         background-color: #1058c337;
         width: 680px;
         height: 680px;
         position: absolute;
         right: -90px;
         top: -250px;
         border-radius: 50%;
         z-index: -1;
     }
     .logo>a{
         color: #1058C3;
         font-weight: bold;
         font-size: 20px;
     }
     .navbar{
         padding:0px 25px;
     }
     .navbar>ul>li>a{
      color: black;
      font-weight: bold;
      font-size: 20px;
      transform: ease 1s;
     }
     .navbar>ul>li>a:hover{
         color: rgb(86, 86, 86);
     }
     .menu{
         display: none;
     }
     .profile-pic,.portfolio-pic,.about-pic,.contact-pic,.login-pic,.blog-pic{
        
         width: 380px;
         height: 380px;
         position: absolute;
         right: 90px;
         top:145px;
         border-radius: 50%;
     }
    .profile-description{
        position:absolute;
        top:100px;
        left:50px;
        line-height: 70px;
        width: 600px;
        height: 270px;
    }
    .profile-description>h4,.profile-description>h1{
        color: #1058C3;
    } 
    .profile-description>hr{
        border: #1058C3 solid 1px;
    }
    .profile-description>h4{
        font-size: 25px;
    }
    .profile-description>h4>span{
        text-decoration: underline;
    }
    .profile-description>h1{
        font-size: 50px;
    }
    .profile-description>h3{
        font-size: 30px;
        color: #1058c37f;
    }
    .header-contact{
        position: absolute;
        top: 400px;
        left: 50px;
        width: 210px;
    
    }
    .header-contact>ul>li>img{
        width: 20px;
    }
    .header-contact>ul>li>{
        width: 100%;
    }
    .header-contact>ul>li>a{
        margin-left: 2px;
        color: #1058C3;
        font-weight: bold;
    }
    .hire_btn{
        position: absolute;
        top: 400px;
        left:30%;
        border:none;
        outline: none;
        width: 150px;
        height: 40px;
        border-radius: 50px;
        font-weight: bold;
    }
}
.inner_main{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.left_inner_main{
    width: 35%;
}
.right_inner_main {
    width:65%;
    margin-left: 0px;
}

/* Tablet styles */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    /* header */

    header{
        position: relative;
        top: 0;
        left: 0;
        height: 400px;
        overflow-x: hidden;
     }
     .round-bg{
         background-color: #1058c337;
         width: 580px;
         height: 580px;
         position: absolute;
         right: -90px;
         top: -250px;
         border-radius: 50%;
         z-index: -1;
     }
     .logo>a{
         color: #1058C3;
         font-weight: bold;
         font-size: 20px;
     }
     .navbar{
         padding:0px 25px;
     }
     .navbar>ul{
        display: none;
        flex-direction: column;
     }
     .navbar>ul>li>a{
      color: black;
      font-weight: bold;
      font-size: 20px;
      transform: ease 1s;
     }
     .navbar>ul>li>a:hover{
         color: rgb(86, 86, 86);
     }
     .menu{
         display: block;
     }
     .profile-pic,.portfolio-pic,.about-pic,.contact-pic,.login-pic,.blog-pic,.signup-pic{
         
         width: 300px;
         height: 300px;
         position: absolute;
         right: 90px;
         top:100px;
         border-radius: 50%;
     }
    .profile-description{
        position:absolute;
        top:90px;
        left:50px;
        line-height: 50px;
        width: 600px;
        height: 270px;
    }
    .profile-description>h4,.profile-description>h1{
        color: #1058C3;
    } 
    .profile-description>hr{
        border: #1058C3 solid 1px;
    }
    .profile-description>h4{
        font-size: 18px;
    }
    .profile-description>h4>span{
        text-decoration: underline;
    }
    .profile-description>h1{
        font-size: 25px;
    }
    .profile-description>h3{
        font-size: 25px;
        color: #1058c37f;
    }
    .header-contact{
        position: absolute;
        top: 300px;
        left: 50px;
        width: 150px;
    
    }
    .header-contact>ul>li>img{
        width: 15px;
    }
    .header-contact>ul>li>{
        width: 100%;
    }
    .header-contact>ul>li>a{
        margin-left: 2px;
        color: #1058C3;
        font-weight: bold;
        font-size: 10px;
    }
    .hire_btn{
        position: absolute;
        top: 300px;
        left:30%;
        border:none;
        outline: none;
        width: 100px;
        height: 30px;
        border-radius: 50px;
        font-weight: bold;
    }
    main>p{
        font-weight: bold;
        font-size: 20px;
    }
    .design_title{
        width: 100%;
    }
    .design_text{
        width: 100%;
    }
    .what_ido>p{
        width: 100%;
    }
    .card{
        width: 30%;
    }
    .about_card>.card{
        width: 45%;
    }
    .blog_title{
        margin-bottom: 70px;
    }
    .left_blogTitle{
        width: 100%;
        height: 20%;
        font-size: 15px;
    }
    .right_blogTitle{
        width: 100%;
    }
    .left_inner_main,.right_inner_main{
        width: 100%;
        min-height: 100px;
    }
    .right_inner_main {
        width:100%;
        margin-left: 0px;
    }
    .mySkills>p{
        width: 100%;
        font-weight: bold;
    }

    .proper_skills{
        background-color: #3c84f0ba;
        width: 40%;
        height: 380px;
        border-radius: 5px;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 310px;
     }

     .work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
        width: 30%;
        height: 300px;
        margin: 10px;
        
    }

    .left_login{
        display: none;
    }

    .right_login{
        width: calc(100% - 0px);
    }
    #inner_main_login{
        padding: 20px 60px;
    }
    .left_inner_main_d{
        display: none;
    }
    .right_inner_main_d{
        width: 100%;
    }
    .leftDash{
        display: none;
    }
    .rightDash{
        display: none;
    }
    #logd{
        display: block;
    }
    #menud{
        display: block;
    }
    .table_dashboard {
        width: 100%;
    }  
    .dash_graph{
        width: 100%;
    }

    .footer-card{
        width: 45%;
    }
    footer{
        height: 740px;
    }
    ul>li {
        margin-right: 0px;
    }








}

/* Mobile styles */
@media screen  and (min-width: 576px) and (max-width: 767px) {
    /* header */
    header{
        position: relative;
        top: 0;
        left: 0;
        height: 800px;
        overflow-x: hidden;
     }
     .round-bg{
         background-color: #1058c337;
         width: 780px;
         height: 780px;
         position: absolute;
         right: -90px;
         top: -250px;
         border-radius: 50%;
         z-index: -1;
     }
     .logo>a{
         color: #1058C3;
         font-weight: bold;
         font-size: 20px;
     }
     .navbar{
         padding:0px 25px;
     }
     .navbar>ul{
        display: none;
        flex-direction: column;
     }
     .navbar>ul>li>a{
      color: black;
      font-weight: bold;
      font-size: 20px;
      transform: ease 1s;
     }
     .navbar>ul>li>a:hover{
         color: rgb(86, 86, 86);
     }
     .menu{
         display: none;
     }

     .menu{
        display: block;
    }
    .profile-pic,.portfolio-pic,.about-pic,.contact-pic,.login-pic,.blog-pic{
        
         width: 350px;
         height: 350px;
         position: absolute;
         right: 120px;
         top:280px;
         border-radius: 50%;
     }
     .profile-description{
        position:absolute;
        top:575px;
        left:50px;
        line-height: 50px;
        width: 250px;
        height: 160px;
    }
    .profile-description>h4,.profile-description>h1{
        color: #1058C3;
    } 
    .profile-description>hr{
        border: #1058C3 solid 1px;
    }
    .profile-description>h4{
        font-size: 18px;
    }
    .profile-description>h4>span{
        text-decoration: underline;
    }
    .profile-description>h1{
        font-size: 25px;
    }
    .profile-description>h3{
        font-size: 25px;
        color: #1058c37f;
    }
    .header-contact{
        position: absolute;
        top: 750px;
        left: 50px;
        width: 200px;
    
    }
    .header-contact>ul>li>img{
        width: 20px;
    }
    .header-contact>ul>li>{
        width: 100%;
    }
    .header-contact>ul>li>a{
        margin-left: 2px;
        color: #1058C3;
        font-weight: bold;
        font-size: 14px;
    }
    main>p{
        font-weight: bold;
        font-size: 20px;
    }
    .design_title{
        width: 100%;
    }
    .what_ido>p{
        width: 100%;
    }
    .card{
        width: 100%;
        margin-bottom: 20px;

    }
    .hire_btn{
        position: absolute;
        top: 750px;
        left:65%;
        border:none;
        outline: none;
        width: 100px;
        height: 30px;
        border-radius: 50px;
        font-weight: bold;
    }
    .blog_title{
        margin-bottom: 70px;
    }
    .left_blogTitle{
        width: 100%;
        height: 20%;
        font-size: 15px;
    }
    .right_blogTitle{
        width: 100%;
    }
    .blog_items{
        height: 500px;
    }
    .blog1_items_img,.blog2_items_img,.blog3_items_img{
        width: 100%;
        height: 50%;
    }
    .blog1_item_details{
        width: 100%;
        height: 50%;
    }
    
    .left_inner_main,.right_inner_main{
        width: 100%;
    }
    .comment_date {
        margin-left: 20px;
     }
     .comment_text{
         margin-left: 15px;
     }
     .comment_text>p {
        font-size: 12px;
     }
     .right_inner_main {
        width:100%;
        margin-left: 0px;
    }
    .left_contact_title{
        width: 100%;
        margin-bottom: 20px;
    }
    .right_contact_title{
        width: 100%;
    }
    .message_input>.name_text{
        width: 100%;
    }
    .mySkills>p{
        width: 100%;
        font-weight: bold;
    }

    .mySkills_display{
        width: 100%;
        height: 350px;
    }
    .design_text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }



    .proper_skills{
        background-color: #3c84f0e3;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        flex-direction: column;
        position: absolute;
        top:0;
        left:0;
     }
     .work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
        width: 45%;
        height: 300px;
        margin: 10px;
        
    }

    .left_login{
        display: none;
        
    }

    .right_login{
        width: calc(100% - 0px);
    }
    #inner_main_login{
        padding: 20px 20px;
        border: none;
    }
    .singup_link>a{
        font-size: small;
    }
    .left_inner_main_d{
        display: none;
    }
    .right_inner_main_d{
        width: 100%;
    }
    .leftDash{
        display: none;
    }
    .rightDash{
        display: none;
    }
    /* .table_dash{
        display: none;
    } */
    #logd{
        display: block;
    }
    #menud{
        display: block;
    }
    ul>li {
        margin-right: 0px;
    }
    .dash_graph{
        width: 100%;
    }  
    .table_dashboard {
        width: 100%;
    }
    .left_real_profile{
        width: 100%;
    }
    .right_real_profile{
        width: 100%;
    }
    .profile_pic{
        width: 150px;
        height: 150px;
    }
    .left_selfBlog{
        width: 100%;
    }
    .right_selfBlog{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    }










    .forgotP>a {
        font-size: 8px;
        text-decoration: underline;
        color: #1058C3;
        font-weight: bold;
    }
    .footer-card{
        width: 45%;
    }
    footer{
        height: 740px;
    }
}
    @media screen and (max-width: 575px) {
        /* header */
        header{
            position: relative;
            top: 0;
            left: 0;
            height: 750px;
            overflow-x: hidden;
         }
         .round-bg{
             background-color: #1058c337;
             width: 650px;
             height: 650px;
             position: absolute;
             right: -90px;
             top: -250px;
             border-radius: 50%;
             z-index: -1;
         }
         .logo>a{
             color: #1058C3;
             font-weight: bold;
             font-size: 15px;
         }
         .navbar{
             padding:0px 15px;
         }
         .navbar>ul{
            display: none;
            flex-direction: column;
         }
         .navbar>ul>li>a{
          color: black;
          font-weight: bold;
          font-size: 20px;
          transform: ease 1s;
         }
         .navbar>ul>li>a:hover{
             color: rgb(86, 86, 86);
         }
         .menu{
             display: none;
         }
    
         .menu{
            display: block;
        }
        .profile-pic,.portfolio-pic,.about-pic,.contact-pic,.login-pic,.blog-pic,.signup-pic{
             
             width: 200px;
             height: 200px;
             position: absolute;
             right: 50px;
             top:200px;
             border-radius: 50%;
         }
         
         .profile-description{
            position:absolute;
            top:460px;
            left:50px;
            line-height: 30px;
            width: 250px;
            height: 140px;
        }
        .profile-description>h4,.profile-description>h1{
            color: #1058C3;
        } 
        .profile-description>hr{
            border: #1058C3 solid 1px;
        }
        .profile-description>h4{
            font-size: 18px;
        }
        .profile-description>h4>span{
            text-decoration: underline;
        }
        .profile-description>h1{
            font-size:25px;
        }
        .profile-description>h3{
            font-size: 25px;
            color: #1058c37f;
        }
        .header-contact{
            position: absolute;
            top: 600px;
            left: 53px;
            width: 180px;
        
        }
        ul>li {
            margin-right: 0px;
        }
        .header-contact>ul>li>img{
            width: 20px;
        }
        .header-contact>ul>li>{
            width: 100%;
        }
        .header-contact>ul>li>a{
            margin-left: 2px;
            color: #1058C3;
            font-weight: bold;
            font-size: 13px;
        }

        main {
            width: 100%;
            min-height: 100px;
            /* padding: 5px 10px; */
        }
        main>p{
            font-weight: bold;
            font-size: 15px;
        }
        main>h2 {
            font-weight: bold;
            font-size: 22px;
            color: #1058C3;
        }
        .design_text{
            width: 100%;
        }
        .design_text>p{
            font-weight: bold;
            font-size: 15px;
            margin: 10px;
        }
        .design_title{
            width: 100%;
        }

        .what_ido>p{
            width: 100%;
        }

        .card{
            width: 100%;
            margin-bottom: 20px;

        }
        .blog_title{
            margin-bottom: 320px;
        }
        .left_blogTitle{
            width: 100%;
        }
        .right_blogTitle{
            width: 100%;
        }

        .left_inner_main_d{
            display: none;
        }
        .right_inner_main_d{
            width: 100%;
        }
        .leftDash{
            display: none;
        }
        .rightDash{
            display: none;
        }
        .table_dash{
            /* display: none; */
        }
        .right_main_comment {
            width: 10%;
            padding: 5px;
        }
        .right_main_comment>img, .left_reply>img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .bloger_name{
            font-weight: bold;
            font-size: 8px;
        }
        .comment_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .comment_like>img {
            width: 15px;
            margin: 0px 5px;
        }
        .comment_like {
            width: 44%;
        }
        .reply_btn {
            width: 50px;
            border-radius: 5px;
            font-size: 10px;
        }
        .like_comm {
            width: 15px;
            height: 15px;
            border: 1px solid #1058C3;
            border-radius: 50%;
            color: #1058C3;
            font-size: 10px;
        }
        .reply_btn>img {
            width: 10px;
        }
        .comment_date>img {
            width: 15px;
        }
        .comment_date>span {
            font-weight: bold;
            font-size: 8px;
            color: #535353;
        }
        .left_item_title>img, .right_item_title>img {
            width: 20px;
            margin-right: 5px;
        }
        .left_item_title>span, .right_item_title>span {
            font-weight: 400;
            color: #525456;
            font-size: 10px;
        }      

        .individual_blog_category>h2 {
            color: #1058C3;
            font-size: 15px;
        }

        .reply_to_comment>h1{
            font-size: 20px;
        }
        .left_main_comment {
            width: 90%;
        }
        .left_inner_main>h2{
            font-size: 15px;
        }
        .proper_skills>h5 {
            color: white;
            margin-left: -95px;
        }
        .my_work {
            width: 100%;
            margin: 25px 0px;
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0px;
        }
        .blog1_item_details {
            margin-left: 10px;
        }
        .blog1_item_details>p, .blog2_item_details>p, .blog3_item_details>p {
            color: #525456;
            margin-top: 5px;
            font-size: 15px;
        }
        
        



        .hire_btn{
            position: absolute;
            top: 700px;
            left:31%;
            border:none;
            outline: none;
            width: 100px;
            height: 30px;
            border-radius: 50px;
            font-weight: bold;
        }
       
        .blog_title{
            margin-bottom: 70px;
        }
        .left_blogTitle{
            width: 100%;
            height: 20%;
            font-size: 15px;
        }
        .right_blogTitle{
            width: 100%;
        }
        .blog_items{
            height: 420px;
        }
        .blog1_items_img,.blog2_items_img,.blog3_items_img{
            width: 100%;
            height: 50%;
        }
        .blog1_item_details{
            width: 100%;
            height: 50%;
        }
        .blog1_item_details>h1{
            font-size: 15px;
        }
        .left_blogTitle>h1{
            font-size:20px ;
        }
        .left_inner_main,.right_inner_main{
            width: 100%;
        }
        .left_reply_empty {
            width: 5%;
        }
        .reply_comment_section {
            width: 95%;
        }
        .comment_date {
           margin-left: 25px;
        }
        .comment_text{
            margin-left: 15px;
        }
        .comment_text>p {
           font-size: 12px;
        }
        .right_inner_main {
            width:100%;
            margin-left: 0px;
        }

        .left_contact_title{
            width: 100%;
            margin-bottom: 20px;
        }
        .right_contact_title{
            width: 100%;
        }
        .message_input>.name_text{
            width: 100%;
        }
        .mySkills>p{
            width: 100%;
            font-weight: bold;
        }

        .mySkills_display{
            width: 100%;
            height: 300px;
        }
        .proper_skills{
            background-color: #3c84f0e3;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            flex-direction: column;
            position: absolute;
            top:0;
            left:0;
         }
         .work1,.work2,.work3,.work4,.work5,.work6,.work7,.work8{
            width: 100%;
            height: 400px;
            margin: 10px;
            
        }
        .left_login{
            display: none;
            
        }
    
        .right_login{
            width: calc(100% - 0px);
        }
        #inner_main_login{
            padding: 0px 0px;
            border: none;
        }
        .singup_link>a{
            font-size: small;
        }

        #logd{
            display: block;
        }
        #menud{
            display: block;
        }

        .right_login {
            border: #1058C3 1px solid;
            border-radius: 5px;
            padding: 20px;
            min-height: 100px;
        }
        .right_login>h3 {
            color: #1058C3;
            font-weight: 900;
            font-size: 20px;
        }
        .right_login>form>button {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            margin: 10px 0px;
            font-weight: bold;
            font-size: 12px;
        }
        .right_login>form>.name_text {
            width: 100%;
            height: 30px;
            margin: 10px 0px;
            border: #1058C3 2px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
        .right_login>form>label {
            color: #1058C3;
            font-weight: 900;
            font-size: 12px;
        }  
        .forgotP>a {
            font-size: 8px;
            text-decoration: underline;
            color: #1058C3;
            font-weight: bold;
        }
        .singup_link>a {
            color: #1058C3;
            text-decoration: underline;
            font-weight: bold;
            font-size: smaller;
        }
        .dash_graph{
            width: 100%;
        }  
        .table_dashboard {
            width: 100%;
        }
        .left_real_profile{
            width: 100%;
        }
        .right_real_profile{
            width: 100%;
        }
        .notifocation{
            width: 100%;
        }
        .inner_profile_details>span{
            font-size: 12px;
        }
        .edit_notification{
            padding: 0px 20px;
        }
        .edit_notification>button{
            width: 95%;
        }
        .notifocation{
            display: flex;
            align-items: center;
        }
        .table_dash>table>thead>tr>th {
            color: white;
            padding: 5px;
        }
        .table_dash>table>tbody>tr>td {
            font-size: 12px;
        }
        .dash_title {
            border-bottom: #1058C3 2px solid;
            padding: 0px 40px;
        }
        .left_selfBlog{
        width: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        justify-content: space-around;
        align-items: center;

        }
        .right_selfBlog{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px 20px;
        justify-content: space-around;
        align-items: center;
        }
        .blog_img{
            width: 100%;
            min-height: 150px;
        }
        .blog_desciption{
            width: 100%;
        }
        .blog_desciption{
            border: none;
        }
        .innerBlogSelf{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
        .right_selfBlog>button {
            width: 50px;
            font-size: 8px;
        }








        .footer-card{
            width: 100%;
        }
        .copyright>p{
            font-size: 10px;
        }
        footer{
            height: 875px;
        }
}

/* HIDE CLASS */
.hide{
    display: none;
}